* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

.main {
	width: 100vw;
	height: 100vh;
	border: none;
	outline: none;
	resize: none;
	font-size: 25px;
}

.bottom {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	height: 25px;
	font-size: 15px;
	width: 100vw;
}

.help {
	display: inline-block;
}

.credits {
	display: inline-block;
}